<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tokopedia Scraper</title>
  </head>
  <body>
    <h1>Tokopedia Scraper</h1>
    <form action="/scrape" method="POST">
      <label for="product_name"
        >Enter the product you want to search on Tokopedia:</label
      >
      <input type="text" id="product_name" name="product_name" required />
      <button type="submit">Scrape</button>
    </form>
  </body>
</html>
